*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

/* Navigation*/

nav#navigation{
	width: 100%;
	margin: 0 auto;
	position: relative;
	background: #333;
	margin-top: 0.5%;

}

nav#navigation ul{
	border-bottom: 5px solid #000;

}

nav#navigation ul li{
	display: inline-block;
	margin-left: 0px 5px;

}

nav#navigation ul li a{
	display: block;
	padding-top: 20%;
	padding: 10px 35px;
	color: #fff;
	text-decoration: none;
	font-family: Arial;
	font-size: 10pt;
	font-weight: 900;

}

nav#navigation ul li a:hover{
	background-color: #06C;
}

span.line{
	display: block;
	position: absolute;
	width: 7%;
	height: 5px;
	background-color: #b71c1c;
	bottom: 0;

}